
.register{
    position: fixed;
    top: 7%;
    left: 91%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
    float: left;
  }


  
a{
    display: block;
    width: 100px;
    height: 38px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 20px;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    border-radius: 20px;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
    border-radius: 20px;
  }
  
  a:hover:after{
    width: 100%;
    border-radius: 20px;
  }